<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.temankasir"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="21"
        android:targetSdkVersion="30" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:appComponentFactory="androidx.core.app.CoreComponentFactory"
        android:debuggable="true"
        android:icon="@drawable/logo512"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo512"
        android:supportsRtl="true"
        android:testOnly="true"
        android:theme="@style/Theme.AppCompat.NoActionBar" >
        <activity android:name="com.temankasir.ui.pengaturan.aturoutlet.TambahOutletActivity" />
        <activity android:name="com.temankasir.ui.pengaturan.aturoutlet.AturOutletActivity" />
        <activity android:name="com.temankasir.ui.pengaturan.aturitem.TambahItemActivity" />
        <activity android:name="com.temankasir.ui.pengaturan.aturitem.TambahKategoriItemActivity" />
        <activity android:name="com.temankasir.ui.pengaturan.aturitem.AturItemActivity" />
        <activity android:name="com.temankasir.ui.pengaturan.aturkasir.TambahKasirActivity" />
        <activity android:name="com.temankasir.ui.pengaturan.aturkasir.AturKasirActivity" />
        <activity android:name="com.temankasir.ui.pengaturan.bisnisakun.BisnisAkunActivity" />
        <activity android:name="com.temankasir.ui.pengaturan.profileakun.ProfileAkunActivity" />
        <activity android:name="com.temankasir.ui.login.LoginActivity" />
        <activity android:name="com.temankasir.ui.slider.SlideActivity" />
        <activity android:name="com.temankasir.ui.home.MainActivity" />
        <activity android:name="com.temankasir.ui.splashscreen.SplashScreenActivity" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <provider
            android:name="com.squareup.picasso.PicassoProvider"
            android:authorities="com.temankasir.com.squareup.picasso"
            android:exported="false" />
        <provider
            android:name="androidx.lifecycle.ProcessLifecycleOwnerInitializer"
            android:authorities="com.temankasir.lifecycle-process"
            android:exported="false"
            android:multiprocess="true" />
    </application>

</manifest>